#logo{
    display: inline;
    float: 		left;
    margin-top: 	10px;
    width: 			14%;
    height: 		14%;
}

#escudo{
	display: inline;
    float: 		right;
    margin-right: 	10px;
    margin-top: 	10px;
    width: 			23%;
    height: 		23%;
}

#titulo-sistema{
	display: inline;
	vertical-align: 40%;
	margin-left: 20px;
	margin-top:20px;
	text-align: center;
	width:40%;
	font-size: 18px;
	font-weight: bold;
}

.titulo-sistema{
	display: inline;
	margin-left: 20px;
	text-align: center;
	width:30%;
	font-size: 18px;
	font-weight: bold;
}

.encabezado{
	background-color: white;
}

.requeridoNota
{
font-size: 14px;
font-weight: bold;
color:#e32;	
}